:root {
    --primary: #FA4A0C;
    --accent: #ea0005;
    --secondary: #252B42;
    --black: #252B42;
    --grey: #737373;
    --background: #FAFAFA;
    --white: #ffffff;
    --dark-background: #252B42;
}