/* headeris bez efektiem */
/* .head {
    display: flex;
    height: 102px;
    padding: 26px 90px 28px 90px;
    background-color: var(--white);
} */

.head {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    height: 102px;
    padding: 26px 90px 28px 90px;
    background-color: var(--white);
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    z-index: 1;
}

.head.hide {
    top: -290px;
  }

.logo {
    width: 50%;
}

.nav {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.link {
    font-weight: 600;
    color: var(--grey);
    line-height: 28px;
    letter-spacing: 0.2px;
}

.link:hover {
    color: var(--primary);
}

.burger {
    width: 25px;
    height: 18px;
    right: 36px;
    top: 48px;
}

@media screen and (min-width: 768px) {
.burger {
    display: none;
}}


@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .head {
        /* position: relative; */
        height: 78px;
        padding: 17px 16px 17px 16px;
        
    }
    .logo__img {
        height: 70px;
    }
}