*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
main{
    width: 360px;
    margin: auto;
    text-align: center;
}

.title {
    margin-top: 50;
}

.container{
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin: 30px;

}
.box{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: chocolate;
    color: white;
    font-weight: bold;
    line-height: 100px;
    top: 20px;
    left: 50px;
    transition: all 4s linear;
}
#action-btn, #action-btn-sometimes, #action-btn-position{
    width: 100px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color:gray;
}

#action-el-sometimes {
    background-color: transparent;
    width: 296px;
    height: 296px;
}

#action-el-position {
    background-color: beige;
    width: 150px;
    height: 150px;
}
